<p id="notice"><%= notice %></p>

<% if @ika.background.exists? -%>
  <%= image_tag @ika.background.url %>
<% end -%>

<p>
  <strong>Title:</strong>
  <%= @ika.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @ika.description %>
</p>

<p>
  <strong><%= @ika.title %>さんのtako一覧</strong><br />
  <% @ika.takos.each do |tako| %>
  <%= tako.name %>:::<%= tako.msg %><br />
  <% end %>
</p>

<%= link_to 'Edit', edit_ika_path(@ika) %> |
<%= link_to 'Back', ikas_path %>
